.App {
  
  width: 100vw;
  min-height: 100vh;

}

body {
  background-color: #fcfcfc;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
}

.dots::after {
  content: '';
  display: inline-block;
  width: 1em;
  text-align: left;
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%, 20% {
      content: '';
  }
  40% {
      content: '.';
  }
  60% {
      content: '..';
  }
  80%, 100% {
      content: '...';
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sb-custom::-webkit-scrollbar {
  
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sb-custom {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}